/* ---------------- */
/* Reset            */
/* ---------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* ----------------  */
/* Custom Properties */
/* ----------------  */
:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
}

/* ---------------- */
/* Box Sizing       */
/* ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body. h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who have them turned off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* Utility Classes  */
/* ---------------- */

/* Utility classes
  - Do one thing and do it very well
  - Often only have on declaration, but they can have multiple when required.
  - Allow things to be much more modular, and allow us to write a lot less in the long run
*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* Screen reader, helps with accesibility when assistive tech is being used to navigate the page. 

It is not removed from the DOM but hidden on the page just for the screen reader.

It does not function like a display none
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ---------------- */
/* Colors           */
/* ---------------- */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.example-component {
  background-color: hsl(var(--clr-light) / .2);
}
